<h3>What did you see?</h3>

<%= form_for(@sight) do |f| %>
  <%= f.text_field :title, :placeholder => ("Few words of desciption") %><BR>
  <%= f.text_area :content, :placeholder => ("More details") %><BR>
  <%= f.submit "Submit" %>
<% end %>
